################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/+Servi.vs.2022
/src/.vs/ProjectEvaluation
/src/Servi.AccessData/bin/Debug/net6.0
/src/Servi.Models/bin/Debug/net6.0
/src/Servi.AccessData/obj
/src/Servi.Models/obj
/src/Servi.Utility/bin/Debug/net6.0
/src/Servi.Utility/obj
/src/Servi.WebApi/bin/Debug/net6.0
/src/Servi.WebApi/obj
/src/BeautySalonManage/BeautySalonManage.Application/obj
/src/BeautySalonManage/.vs/BeautySalonManage
/src/BeautySalonManage/BeautySalonManage.Domain/obj
/src/BeautySalonManage/BeautySalonManage.Perisistence/obj
/src/BeautySalonManage/BeautySalonManage.Shared/obj
/src/BeautySalonManage/BeautySalonManage.WebApi/obj
